/*:root {
    --primary: rgba(134, 90, 252, 1);
    --backgroundPrimary: rgba(133, 90, 252, 0.466);
    --primaryButtonColor: rgb(212, 127, 70);
}

.body {
    margin: 0;
    padding: 0;
    background-color: white;
}


.navbar {
    background-color: rgba(197, 171, 146, 0.671);
    padding: 10px;
    height: 5vh;
    width: 100vw;
    position: fixed;
    z-index: 999;
}


.logo-container {
    display: inline-block;
    position: fixed;
    height: 100%;
    width: auto;
    top: 5px;
    left: 30px;
}

.active {
    @apply bg-blue-500 text-white;
}

#logo-container{
    width: 15%;
    height: auto;
}*/

/* Réinitialisation des styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Styles pour le corps de la page */
  .body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  /* Styles pour le conteneur principal */
  #app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 12rem;
  }
  
  /* Styles pour la grille des éléments */
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 75%;
  }
  
  /* Styles pour chaque élément de la grille */
  .grid > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  /* Styles pour l'image du profil */
  .grid > div img {
    width: 10rem;
  }
  
  /* Styles pour le lien d'accès au profil */
  .grid > div a {
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    color: #333;
  }
  
  /* Styles pour le texte de bienvenue */
  .text-5xl {
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
  }
  
  /* Styles pour la section des bracelets */
  .w-full {
    width: 100%;
  }
  
  /* Styles pour le logo container */
  #logo-container {
    margin: 6rem;
  }
  
  /* Styles pour le logo */
  #logo-container img {
    max-width: 100%;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 20px;
    height: 60vh;
    width: 60vw;
    color: white;
    font-size: 24px;
    font-family: Arial, sans-serif;
    background-color: var(--backgroundPrimary);
}
