/*:root {
    --primary: rgba(134, 90, 252, 1);
    --backgroundPrimary: rgba(133, 90, 252, 0.466);
    --primaryButtonColor: rgb(212, 127, 70);
}

.body {
    margin: 0;
    padding: 0;
    background-color: white;
}


.navbar {
    background-color: rgba(197, 171, 146, 0.671);
    padding: 10px;
    height: 5vh;
    width: 100vw;
    position: fixed;
    z-index: 999;
}


.logo-container {
    display: inline-block;
    position: fixed;
    height: 100%;
    width: auto;
    top: 5px;
    left: 30px;
}

.active {
    @apply bg-blue-500 text-white;
}

#logo-container{
    width: 15%;
    height: auto;
}*/


  


  

  


  .form {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
    position: relative;
    margin-bottom: 1rem;
     
}

/* Styles pour l'accordéon */
.accordion {
    width: 100%;
  }
  
  /* Styles pour les titres des sections */
  .accordion__title {   
    background-color: #f2f2f2;
    color: #333;
    padding: 10px;
    margin-bottom: 1px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .accordion{
    background-color: #e6e6e6;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    max-height: 1000px;
    transition: max-height 0.3s ease;
    margin-right: 10px;
    transition: transform 0.3s ease;
    transform: rotate(180deg);
  }

  