:root {
    --primary: rgba(45, 119, 205, 0.757);
  }

.body {
    margin: 0;
    padding: 0;
}


.navbar {
    background-color: white;
    padding: 10px;
    height: 5vh;
    width: 100vw;
    position: fixed;
    z-index: 999;
}


.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    display: inline;
}

.navbar li a {
    display: inline-block;
    padding: 10px 50px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.logo-container {
    display: inline-block;
    position: fixed;
    height: 100%;
    width: auto;
    top: 5px;
    left: 30px;
}

.navbar li a img{
    height: 100px;
    width: auto;

}

.navbar li a:hover {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--primary);
    font-weight: bold;
}

.backImageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 20px;
    height: 100vh;
    width: 100vw;
    color: white;
    font-size: 24px;
    font-family: Arial, sans-serif;
    background-image: url('../img/nurse-holding-senior-man-s-hands-comfort.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}


.backImageContainer h1{
    text-align: center;
    padding: 20px;
    color: black;
    font-size: 40px;
    font-family: Arial, sans-serif;
}
