:root {
    --primary: rgba(134, 90, 252, 1);
    --backgroundPrimary: rgba(133, 90, 252, 0.466);
    --primaryButtonColor: rgb(212, 127, 70);
}

.body {
    margin: 0;
    padding: 0;
}


.navbar {
    background-color: white;
    padding: 10px;
    height: 5vh;
    width: 100vw;
    position: fixed;
    z-index: 999;
}


.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    display: inline;
}

.navbar li a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.logo-container {
    display: inline-block;
    position: fixed;
    height: 100%;
    width: auto;
    top: 5px;
    left: 30px;
}

.navbar li a img{
    height: 100px;
    width: auto;

}

.navbar li a:hover {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--primary);
    font-weight: bold;
}


.backImageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 20px;
    height: 100vh;
    width: 100vw;
    color: white;
    font-size: 24px;
    font-family: Arial, sans-serif;
    background-image: url('../img/nurse-holding-senior-man-s-hands-comfort__darker.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 20px;
    height: 60vh;
    width: 60vw;
    color: white;
    font-size: 24px;
    font-family: Arial, sans-serif;
    background-color: var(--backgroundPrimary);
}

.p-button{
    background-color: var(--primaryButtonColor);
    border-color: black;
    color: rgb(255, 255, 255);
}



.s-button{
    background-color: white;
    border-color: black;
    color: var(--primaryButtonColor);
}

#logo-container{
    width: 15%;
    height: auto;
}

