:root {
    --primary: rgba(134, 90, 252, 1);
    --backgroundPrimary: rgba(133, 90, 252, 0.466);
    --primaryButtonColor: rgb(212, 127, 70);
}

.form {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
    position: relative;
    margin-bottom: 1rem;     
}
