<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="http://localhost:3000/site/css/profil.css">

</head>

<body class="body">
    <div id="app" class="flex flex-col items-center justify-center my-12 space-y-96"> <!-- Vue app -->
        <div class="flex flex-col items-center">
            <img src="http://localhost:3000/site/img/profil.png" class="w-40 flex items-center justify-center" alt=""
              srcset="">
            <p class="text-2xl" target="_blank" rel="noopener noreferrer">{{prenom}} {{nom}}</p>
        </div>

        <div>

            
            <div v-if = "profilScreen == 'commands'">
                <p> Liste de vos commandes de bracelets </p>
                
                <div>
                    <div v-for = "item in commands" key="item.id">
                        <br>    
                        {{item.nomBracelet}}
                        <p>Date de la commande : {{item.date_cmd}}</p>
                        <p>Date de la livraison : {{item.date_liv}}</p>
                        <br>
                    </div>
                </div>

                <button @click = "screenButtonClick('')"> Retour </button>
            </div>


            <div v-else-if = "profilScreen == 'modify'">
                <p> Modifier vos informations personnelles </p>
                <form class="form">
                    <div class="mb-6">
                        <label for="nom" class="block text-xl mb-2 text-sm font-medium text-gray-900 dark:text-white">Nom</label>
                        <input v-model="nom" type="nom" id="nom"
                            class="shadow appearance-none border rounded rounded-lg w-full my-2 mx-3 py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            required>
                    </div>
                    <div class="mb-6">
                        <label for="prenom" class="block text-xl mb-2 text-sm font-medium text-gray-900 dark:text-white">Prénom</label>
                        <input v-model="prenom" type="prenom" id="prenom"
                            class="shadow appearance-none border rounded rounded-lg w-full my-2 mx-3 py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            required>
                    </div>
                    <div class="mb-6">
                        <label for="adresse" class="block text-xl mb-2 text-sm font-medium text-gray-900 dark:text-white">Adresse</label>
                        <input v-model="adress" type="adresse" id="adresse"
                            class="shadow appearance-none border rounded rounded-lg w-full my-2 mx-3 py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            required>
                    </div>
                </form>
                <button @click = "screenButtonClick('')"> Retour </button>
            </div>



            <div v-else-if = "profilScreen == 'contacts'">
                <p> Gestion des contacts d'urgence </p>
                <div v-for = "item in contacts" key="item.id">
                    <br>    
                    {{item.nom}}
                    <p>Numéro de téléphone : {{item.tel}}</p>
                    <button>Supprimer</button>
                    <br>
                </div>
                <button @click = "screenButtonClick('')"> Retour </button>
            </div>


            <div v-else class="menu2">
                <p> Menu </p>
                <button @click = "screenButtonClick('modify')"> Modifier mes infos personnelles</button>
                <button @click = "screenButtonClick('contacts')"> Gérer mes contacts d'urgence </button>
                <button @click = "screenButtonClick('commands')"> Voir mes commandes </button>
            </div>
        </div>
    </div> <!-- Vue app -->
    <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="http://localhost:3000/site/js/profil.js"></script>
</body>

</html>